#contact,
#about,
#account,
#favourites,
#loading,
#notfound,
#pikadex,
#underconstrauction,
#needtologin,
#browse,
// #checkout,
#music,
#shop {
    max-width: 1400px;
    margin-inline: auto;
    display: flex;
    justify-content: center;
}

#landingpage {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    transition: background-image 0.9s ease;
}
  


.color-green {
    color: #32cd32;
    text-align: center;
}

.color-red {
    color: #f44336;
    text-align: center;
}

.nofav {
    margin-top: 0;

    .dark & {
        color: white;
    }
}

.img-scale {
    transition: transform 0.3s ease-in-out;
}

.img-scale:hover {
    transform: scale(1.1); 
}
  

.title {
    text-align: center;
    margin-bottom: 3rem;
    color: black;
    font-size: 2.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);

    .dark & {
        color: white;
    }
}




.button {
    background-color: white;
    width: 10rem;
    color: black;
    font-size: 16px;
    font-weight: 500;
    padding: 0.4rem 1rem;
    border: 2px solid black;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0.4rem;
    text-decoration: none;

    &:hover {
        background-color: black;
        color: white;
    }

    .dark & {
        border: 2px solid white;
        color: white;
        background-color: black;

        &:hover {
            background-color: white;
            color: black;
        }
    }
}

.input {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 17rem;
    margin-top: 1rem;
    box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
    height: 2rem;
    font-size: 1.3rem;

    &:focus {
        outline: none;
        border-color: black;
        box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.2), 0px 0px 5px rgba(0, 0, 0, 0.1);
    }
}

@media screen and (max-width: 550px) {
    .input {
        font-size: 1rem;
        width: 12rem;
    }
}

@media screen and (max-width: 400px) {
    .input {
        width: 8rem;
    }
}

@media screen and (max-width: 550px) {
    .title {
        font-size: 1.8rem;
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 500px) {
    .nofav {
        font-size: 1rem;
    }

    .button {
        width: 8rem;
    }
}

@media screen and (max-width: 400px) {
    .title {
        font-size: 1.5rem;
        margin-bottom: 0;
    }
}
