.side-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    align-items: center;
    justify-content: flex-start;
    left: 0;
    transition: width 0.3s ease;
    width: 4rem;
    padding: 0 0.8rem;
    overflow: hidden;
    background-color: white;
    height: 100%;
    z-index: 100;

    .dark & {
        background-color: black;
    }

    .dark &:hover {
        box-shadow: 6px 0px 8px rgb(0, 0, 0);
    }

    &:hover {
        width: auto;
        align-items: flex-start;
        padding: 0 1.3rem;
        box-shadow: 10px 0px 8px rgb(255, 255, 255);
    }

    &-link {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }

        .dark & {
            color: white;
        }
    }

    &-item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        text-align: center;
        height: auto;
        margin: 0.4rem 0;
        width: 100%;
    }

    &-icon {
        width: 2.5rem;
        height: auto;
        margin-right: 0.5rem;
    }

    &-text {
        display: none;
        white-space: nowrap;
        margin-left: 0.5rem;
        opacity: 0;
        transition: opacity 0.3s ease;
        text-align: left;
        color: black;
        margin-right: 1rem;

        .dark & {
            color: white;
        }
    }

    &:hover {
        .side-menu-text {
            display: inline-block;
            width: 6rem;
            opacity: 1;
        }
    }
}

@media screen and (max-width: 700px) {
    .side-menu {
        &:hover {
            box-shadow: 1px 0px 4px rgba(0, 0, 0, 0.5);
            border-right: 0.1px solid black;
            border-top: 0.1px solid black;
            border-radius: 0 15px;
        }

        .dark &:hover {
            box-shadow: 1px 0px 4px rgba(255, 255, 255, 0.5);
            border-right: 0.1px solid white;
            border-top: 0.1px solid white;
            border-radius: 0 15px;
        }
    }
}
