.side-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    align-items: center;
    justify-content: flex-start;
    left: 0;
    transition: width 0.3s ease;
    width: 4rem;
    padding: 0 0.8rem;
    overflow: hidden;
    background-color: white;
    height: 100%;

    .dark & {
        background-color: black;
    }

    &:hover {
        width: auto;
        align-items: flex-start;
        padding: 0 1.3rem;
    }

    &-link {
        text-decoration: none;
    }

    &-item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        text-align: center;
        height: auto;
        margin: 0.4rem 0;
        width: 100%;
    }

    &-icon {
        width: 2.5rem;
        height: auto;
        margin-right: 0.5rem;
    }

    &-text {
        display: none;
        white-space: nowrap;
        margin-left: 0.5rem;
        opacity: 0;
        transition: opacity 0.3s ease;
        text-align: left;
        color: black;

        .dark & {
            color: white;
        }
    }

    &:hover {
        .side-menu-text {
            display: inline-block;
            width: 5rem;
            opacity: 1;
        }
    }
}
