
.layout {

    display: flex;
    flex-direction: column;
    min-height: 100vh;

    &-header {
        background-color: white;
        position: sticky;
        top: 0;
        z-index: 3;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.4rem 0;

        &-logo {
            width: 4rem;
            height: 4rem;
            margin-left: 1rem;
            transition: transform 0.2s;

            &:hover {
                transform: scale(1.1) rotate(180deg);
            }
        }

        &-toggle {
            display: flex;
            align-items: center;

            &-theme {
                background: url('../../images/moon.png') no-repeat center; 
                border: none;
                width: 3rem; 
                height: 3rem;
                cursor: pointer;
                background-size: cover;
                position: relative;
                transition: background-color 0.3s;
                margin-right: 1rem;
                margin-left: 0.9rem;
                transition: transform 0.2s;
    
                &:hover {
                    transform: scale(1.1) rotate(270deg);
                }
            
                &.dark {
                    background: url('../../images/sun.png') no-repeat center; 
                }
            }
        }    
    }

    &-main {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &-footer {
        margin-top: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        color: black;
        background-color: white;
        position: relative;
        flex-direction: column;
        z-index: 3;

        &-text {
            font-size: 15px;
        }
    }


    .dark & {

        &-header {
            color: white;
            background-color: black;
        }
        
        &-main {
            background-color: black;
        }

        &-footer {
            color: white;
            background-color: black;
        }
    }
}
