.contact {
    width: 50rem;
    margin: 0 auto;
    padding: 5rem 0;
  
    &-title {
        text-align: center;
        margin-bottom: 3rem;
        color: black;
        font-size: 2.5rem;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);

        .dark & {
            color: white;
        }
    }
  
    &-form {

        &-textarea {
            padding: 0.5rem;
            margin-bottom: 1rem;
            border: 1px solid #ccc;
            border-radius: 5px;
            resize: vertical;
            width: 50%;
            box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
            min-height: 5rem;

            &:focus {
                outline: none;
                border-color: black;
                box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.2), 0px 0px 5px rgba(0, 0, 0, 0.1);
            }
        }

        &-button {
            background-color: white;
            color: black;
            font-size: 16px;
            font-weight: bold;
            padding: 0.6rem 1rem;
            border: 2px solid black;
            border-radius: 10px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            margin-top: 2rem;
    
            &:hover {
                background-color: black;
                color: white;
            }
    
            .dark & {
                border: 2px solid white;
                color: white;
                background-color: black;
    
                &:hover {
                    background-color: white;
                    color: black;
                }
            }
        }
    
        

        &-label {
            margin-bottom: 0.5rem;
            font-weight: bold;
            color: black;
            text-transform: uppercase;
            letter-spacing: 1px;

            .dark & {
                color: white;
            }
        }

        &-form {
            display: flex;
            flex-direction: column;
            align-items: center;

            input[type="text"],
            input[type="email"] {
                padding: 0.5rem;
                margin-bottom: 1rem;
                border: 1px solid #ccc;
                border-radius: 5px;
                width: 30%;
                box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
        
                &:focus {
                    outline: none;
                    border-color: black;
                    box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.2), 0px 0px 5px rgba(0, 0, 0, 0.1);
                }
            }
        }
    }

    &-ig {
        margin-top: 10rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        &-text {
            text-align: center;
        }

        &-link {
            color: black;
            font-size: 25px;

            

            .dark & {
                color: white;

                &:hover {
                    color: #ffe900;
                }
            }
        }
    }

    .dark & {
        color: white;
    }
    
}
