.contact {
    width: 50rem;
    margin: 0 auto;
    padding: 3rem 0;
  
    
  
    &-form {

        &-textarea {
            margin-top: 1rem;
            padding: 0.5rem;
            margin-bottom: 1rem;
            border: 1px solid #ccc;
            border-radius: 5px;
            resize: vertical;
            width: 50%;
            box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
            min-height: 5rem;

            &:focus {
                outline: none;
                border-color: black;
                box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.2), 0px 0px 5px rgba(0, 0, 0, 0.1);
            }
        }

    
        

        &-label {
            margin-bottom: 0.5rem;
            font-weight: bold;
            color: black;
            text-transform: uppercase;
            letter-spacing: 1px;

            .dark & {
                color: white;
            }
        }

        &-form {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &-ig {
        margin-top: 7rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 8rem;

        &-text {
            text-align: center;
        }

        &-link {
            color: black;
            font-size: 25px;

            

            .dark & {
                color: white;

                &:hover {
                    color: #ffe900;
                }
            }
        }
    }

    .dark & {
        color: white;
    }
    
}
