.favourites {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-container {
        max-width: 1400px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &-title {
        color: black;
    }

    &-nofav {
        text-align: center;
        font-size: 1.5rem;
        margin-top: 2rem;
        font-weight: 500;
    }

    .dark & {
        color: white;
    }
}