.favourites {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-container {
        max-width: 1400px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &-nofav {
        text-align: center;
        font-size: 1.5rem;
        margin-top: 2rem;
        font-weight: 500;
    }

    &-img {
        width: 20rem;
        height: 20rem;
        object-fit: cover;
        margin-right: 1em;
    }

    .dark & {
        color: white;
    }
}

@media screen and (max-width: 500px) {
    .favourites {
        &-img {
            width: 10rem;
            height: 10rem;
        }
    }
}